/* ================= CATEGORY SECTION ================= */
.category-section {
    padding: 50px;
    background: #fff;
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.category-header h2 {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.view-btn {
    border: 2px solid black;
    background: black;
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: .25s;
}

.view-btn:hover {
    background: white;
    color: black;
}

/* PRODUCT GRID */
.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 25px;
}

/* PRODUCT CARD */
.category-card {
    border: 1px solid #ececec;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: .3s;
}

.category-card:hover {
    transform: translateY(-5px);
    border-color: #000;
}

.category-card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 10px 0;
}

.category-card .brand {
    font-size: 13px;
    font-weight: bold;
    background: black;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
}

.category-card .price {
    float: right;
    font-size: 13px;
    color: #333;
}

.category-card h3 {
    font-size: 15px;
    margin: 5px 0;
    font-weight: 600;
}

.category-card p {
    color: gray;
    font-size: 12px;
}
