body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f7f5;
}

/* TITLE */
.contact-section {
    text-align: center;
    padding: 40px;
}

.contact-section h1 {
    font-size: 42px;
    font-weight: bold;
}

.contact-section p {
    max-width: 550px;
    margin: auto;
    color: #666;
}

/* FORM + NEWSLETTER WRAPPER */
.contact-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.contact-form,
.newsletter {
    background: #dfe9e5;
    padding: 25px;
    border-radius: 15px;
    width: 400px;
}

.contact-form input,
.newsletter input,
textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #ffffff;
}

.row {
    display: flex;
    gap: 10px;
}

textarea {
    height: 110px;
    resize: none;
}

.submit-btn {
    background: #006CFF;
    border: none;
    padding: 12px 20px;
    width: 100%;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
}

/* INFO CARDS */
.info-grid {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.info-card {
    background: white;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    text-align: center;
}

.info-card i {
    font-size: 32px;
    margin-bottom: 10px;
    color: #006CFF;
}

/* MAP */
.map {
    margin-top: 35px;
    width: 90%;
    height: 300px;
    border-radius: 20px;
}

/* FOOTER */
footer {
    background: #006CFF;
    color: white;
    padding: 35px;
    margin-top: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col p {
    margin: 4px 0;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
}

.map-container {
  width: 100%;
  max-width: 1500px; /* atau sesuai layout kamu */
  height: 400px;
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}
