@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #f1e8ff, #d9ccff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 850px;
    background: #fff;
    display: flex;
    padding: 40px;
    border-radius: 20px;
    gap: 50px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.05);
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form h2 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 28px;
}

form p {
    margin-bottom: 25px;
    color: #777;
    font-size: 14px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 7px;
}

button {
    width: 100%;
    background: #8A4FFF;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

button:hover {
    background: #6d3bcc;
}

.text-link {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.text-link a {
    color: #8A4FFF;
    font-weight: 500;
    text-decoration: none;
}

.right img {
    width: 100%;
}
