/* -------- PRODUCT SECTION -------- */
.product-section {
    padding: 60px;
    background: #fff;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-row h2 {
    font-size: 32px;
    font-weight: 700;
}

.shop-btn {
    background: #000;
    color: white;
    padding: 8px 18px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

/* PRODUCT CARD */
.product-card {
    background: #fff;
    border-radius: 20px;
    padding: 18px;
    position: relative;
    box-shadow: 0px 15px 35px rgba(0,0,0,0.06);
    transition: .3s;
}

.product-card:hover {
    transform: translateY(-6px);
}

.top-icons {
    display: flex;
    justify-content: flex-end;
}

.wishlist {
    font-size: 18px;
    cursor: pointer;
    color: #979797;
    transition: 0.3s;
}

.wishlist.active {
    color: red;
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-top: 10px;
}

.product-card h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
}

/* PRICE + ICON */
.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: #333;
    font-weight: bold;
    font-size: 17px;
}

.add-cart {
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.add-cart:hover {
    color: #00A8FF;
}
