/* PROMO SECTION */
.promo-section {
    padding: 50px;
}

.promo-header h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* GRID */
.promo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    gap: 25px;
}

.promo-card {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    position: relative;
    transition: .3s;
}

.promo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 30px rgba(0,0,0,0.08);
}

/* BADGE DISKON */
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #006CFF;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
}

/* IMAGE */
.promo-card img {
    width: 100%;
    height: 140px;
    object-fit: contain;
    margin: 10px 0;
}

/* PRICE */
.price-box {
    margin-top: 10px;
}

.new-price {
    font-size: 18px;
    font-weight: bold;
    color: #006CFF;
}

.old-price {
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
}

/* RATING */
.rating {
    font-size: 14px;
    margin-top: 5px;
}
